################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net7.0
/obj
/Starterkit.csproj.user
/_keenthemes/tools/node_modules/.bin
/_keenthemes/tools
/Theme/demo1/metronic_html_v8.2.0_demo1
/bin/Release/net7.0
/Properties/PublishProfiles
